.container{

    .input-name {
        margin-top: 70px;
    }

    .input-password {
        margin-left: 60px;
    }

    div{
        margin: 10px 0;
    }
    
    app-button {
        position: relative;
        top: 130px;
        left: 354px;
    }
    
}
