<form [formGroup]="form" #form="ngForm" (ngSubmit)="create(form)">
    <div class="event-form">
            <div class="row align-items-center">
                <div class="col-xs-12 col-md-8 input-name">
                    <app-input placeholder="Name" formControlName="name"></app-input>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xs-8 col-md-4">
                        <app-input placeholder="Limit of participants" formControlName="limit"></app-input>
                    </div>
                    <div class="col-xs-7 col-md-3 input-password">
                        <app-input placeholder="Password" type="password" formControlName="password"></app-input>
                    </div>
            </div>
            <div class="row align-items-center">
                <div class="col-xs-3 col-md-3">
                    <app-button text="Let's go!" type="submit"></app-button>
                </div>
            </div>
        </div>
</form>