@import 'src/styles/global/colors';

input {
    height: 115px;
    font-size: 35px;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 70px;
    padding: 0 55px;
    background-color: transparent;
    outline: none;
}