@import 'src/styles/global/colors';

input {
    height: 115px;
    width: 100%;
    margin: 20px 0px;
    min-width: 327px;
    font-size: 35px;
    color: $white-color;
    border: 1px solid $white-color;
    border-radius: 70px;
    padding-left: 55px;
    background-color: transparent;
    outline: none;
}

::placeholder {
    color: $white-color;
}