button {
    width: 463px;
    height: 87px;
    background: #f7f7f7 0% 0% no-repeat padding-box;
    border-radius: 69px;
    opacity: 1;
    border: 0;
    font: Italic Lighter 20px/42px Montserrat;
    color: #6D6D6D;
    cursor: pointer;
    background-position: center;
    transition: background 0.8s;
}
button:hover{ box-shadow: 0 0 11px rgba(33,33,33,.2); }
button:active{
    background-color: #FFFFFF;
    background-size: 100%;
    transition: background 0s;
}
button:focus {outline:0;}
